@{
    ViewData["Title"] = "Home Page";
}

<body class="home">
    <div class="text-center">
        <br />
        <h1>Welcome</h1>
        <h4>To</h4>
        <h2> WamTech Holiday Resort</h2>
        <br />
        <br />
        <p style="font-size:18px">Delivering you the best vaccation experience ever.</p>
    </div>
</body>
